#compiled object file
*.o

#compiled dynamic libreries
*.so

#executables
*.out

#llvm bitcode
tests/*.ll
tests/*.bc

#dot (graph description language file)
tests/*.dot

#vscode database files
.vscode